.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25vw;
}
.Skills > div {
  width: 100%;
}

@media (max-width: 782px) {
  .Skills{
    margin-inline: auto;
    padding-inline: 1rem;
  }
  .Skills h1{
    font-size: 1.6rem;
  }
}

.SkillsTabs {
  width: 800px;
}

.SkillsTabs li .nav-link {
  border-radius: 0;
}

.SkillsTab {
  padding: 20px;
}

.SkillsButton {
  border-radius: 0%;
  margin: 10px;
  transition-duration: 300ms !important;
}

.SkillsButton:hover {
  position: relative;
  transform: scale(1.2);
  transition-duration: 150ms !important;
  background-color: var(--color-base);
  border-color: var(--color-bg);
}
