.Home {
  display: flex;
  justify-content: center;
}

.HomeAboutMe {
  padding-inline: 6rem;
  padding-bottom: 4rem;
}

.Home .ImgContainer{
  width: 20vw;
}

.ImgContainer img{
  pointer-events: none;
  width: 100%;
  transform: scale(1.6);
  mix-blend-mode: darken;
  margin-top: 6rem;
  filter: hue-rotate(52deg);
}

p{
  max-width: 50ch;
}

@media (max-width: 782px) {
  .Home{
    flex-direction: column-reverse;
  }
  .HomeAboutMe{
    padding-bottom: 0;
  }
  .HomeAboutMe, .ImgContainer{
    padding-inline: 2rem;
  }
  .Home .ImgContainer{
    width: 100%;
    margin-bottom: 4rem;
  }
  .ImgContainer img{
    transform: scale(1);
  }
}
