@import '../../App.css';

.Navbar {
  display: flex;
  background-color: var(--color-base);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vh;
  padding-inline: 6rem;
  gap: 4rem;
}

.Navbar > div{
  padding-top: 3rem;
}

.NavbarTitle {
  display: flex;
  align-items: center;
  color: var(--color-bg);
  gap: 4rem;
}

.NavbarNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.NavbarNav a {
  color: var(--color-bg);
  display: block;
  padding: 12px 24px 12px 24px;
}

.NavbarNav a:hover {
  color: var(--color-base);
  background-color: var(--color-bg);
}

.NavbarNav a.active {
  color: var(--color-base);
  background-color: var(--color-bg);
}

.Navbar img {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 50% 20%;
  border: 5px solid var(--color-bg);
  border-radius: 100%;
  position: relative;
  top: 3rem;
  transform: scale(1.5);
}

@media (max-width: 782px) {
  .Navbar{
    flex-direction: column;
    margin-bottom: 10vh;
    padding-inline: 1rem;
  }
  .NavbarTitle{
    text-align: center;
  }
}
