@import '../../App.css';

.Navbar {
  display: flex;
  background-color: var(--color-base);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vh;
  padding-inline: 6rem;
  gap: 4rem;
}

.Navbar > div{
  padding-top: 3rem;
}

.NavbarTitle {
  display: flex;
  align-items: center;
  color: var(--color-bg);
  gap: 4rem;
}

.NavbarTitle ul {
  display: flex;
  list-style: none;
}

.NavbarTitle ul li {
  margin: 0 10px 0 10px;
}

.NavbarNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.NavbarNav a {
  color: var(--color-bg);
  display: block;
  padding: 12px 24px 12px 24px;
}

.NavbarNav a:hover {
  color: var(--color-base);
  background-color: var(--color-bg);
}

.NavbarNav a.active {
  color: var(--color-base);
  background-color: var(--color-bg);
}

.Navbar img {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 50% 20%;
  border: 5px solid var(--color-bg);
  border-radius: 100%;
  top: 3rem;
  transform: scale(1.5);
}

.Dropdown{
  display: initial;
}

.DropdownToggle{
  background: var(--color-base);
  padding-inline: 1rem;
  padding-block: 0.7rem;
  color: var(--color-bg);
  font-weight: bold;
  margin-left: auto;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  transition-duration: 300ms;
  display: none;
  position: absolute;
  right: 0%;
  bottom: -2.5rem;
}

@media (max-width: 782px) {
  .Navbar{
    flex-direction: column;
    margin-bottom: 10vh;
    padding-inline: 1rem;
    position: relative;
  }
  .NavbarTitle{
    text-align: center;
  }
  .Dropdown{
    position: fixed;
    flex-direction: column;
    z-index: 10;
    justify-content: start;
    background-color: var(--color-base);
    inset-inline: 0;
    transform: translateY(-100%);
    transition-duration: 300ms;
  }
  .Dropdown.Open{
    transform: translateY(0%);
  }
  .Dropdown.Open .DropdownToggle{
    bottom: 0;
  }
  .DropdownToggle{
    display: initial;
  }
}
