@import '../../App.css';

.Footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-base);
  margin-top: auto;
  padding-block: 2rem 1rem;
  padding-inline: 6rem;
  gap: 3rem;
  color: var(--color-bg)
}

.Footer div{
  display: flex;
  flex-direction: column;
}

.Footer > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.Footer h3{
  font-size: 2.2rem;
  font-weight: bold;
}
.Footer h5{
  font-size: 1rem;
  margin-top: 1rem;
}
.Footer > h5{
  text-align: center;
  font-style: italic;
}

.Footer span{
  opacity: 0.9;
  font-size: 0.8rem;
  max-width: 30ch;
}

.Footer > span {
  align-self: center;
  font-size: 0.8rem;
  font-weight: light;
  opacity: 0.7;
  max-width: none;
}

.Footer span a{
  color: var(--color-bg)
}
@media (max-width: 782px) {
  .Footer{
    padding-inline: 1rem;
  }
  .Footer > div{
    flex-direction: column;
  }
  .Footer div{
    align-items: center;
  }
}
